name: build-resources

on:
  workflow_dispatch:
  release:
    types:
      - released

permissions:
  contents: read
  packages: read

jobs:
  build:
    defaults:
      run:
        shell: bash
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix:
        node-version: [lts/*, latest]
        os: [ubuntu-latest, windows-latest, macos-latest]
        architecture: [x64]
    name: build on ${{ matrix.os }} ${{ matrix.architecture }} node ${{ matrix.node-version }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          architecture: ${{ matrix.architecture }}
          check-latest: true
      - uses: softvisio/actions/setup-npm@main
      - run: |
          cd build
          npm install --ignore-scripts
          npm run build
